@model  IEnumerable<WordsLearning.Models.ReadingInfo>
@{
    ViewBag.Title = "ReadingManage";
    var rootPath = Url.Content("~");
    var PageList = (List<int>)ViewBag.PageList;
}

 <div class="subtitle">  
     <h1>Reading Manage</h1> 
 </div>
        <div style="width:1000px;padding-left:1px;">
                     <div class ="formin">
        <h4 class="title">Add Reading</h4>
        <div id="Edit" class="frame" style="display:none;margin-left:100px;height:400px;">
            <div style="background-color:#2d2d30;width:800px;height:30px">         
                <div class="logo" style="margin-top:0px"></div>           
                <div class="headfont">Edit Reading</div>           
                <div class="box-buttons" style="padding-left:780px;padding-top:5px;"><button type="button" class="simplemodal-close" style="width:12px;height:12px;background:url(/Content/themes/base/images/close.png)"></button></div>                 
             </div>
             <div style="width:800px;height:1px;background-color:#CA5100"></div>
        <iframe scrolling="no" id="newFrame" src="javascript:;" style="width:800px;height:360px"></iframe>
        </div>
    
        <form id="form" enctype="multipart/form-data" runat="server" method="post" action="~/Media/CreateReading">  
            <table style="padding-left:50px;">
            <tr>
                 <td style="height: 22px; width: 60px">Title:</td>
                <td style="text-align:left">
                    <input type="text" id="Title" name="Title" style="width:200px;" />
                </td>
            </tr>
            <tr>
                <td style="height: 22px; width: 60px">From:</td>
                <td style="text-align:left">
                    <input type="text" id="From" name="From" style="width:200px;">
                </td>
            </tr>
            <tr>
                <td style="height: 22px; width: 60px;">Url:</td>
                <td colspan="3" style="text-align:left">
             <input type="file" id="file" value="浏览"  name="Imgurl" style="display:none" onchange="filetext.value=this.value"/>                    
             <input type="text" id="filetext" name="filetext" style="width:780px; display:block; float:left;">
             <input type="button" onclick="upfile()" id="filebutton" style="display:block; float:left;">
                </td>
            </tr>
           <tr>
                <td style="height: 22px; width: 60px;vertical-align:text-top">Content:</td>
                <td>
                    <textarea id="Content" name="Content" style="width:800px;height:270px"></textarea>
                    </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" class="Inputbtn" value="Create"  onclick="Create()">
                    <input type="reset" id="reset" style="display:none">
                    <input type="Button" id="Resetbtn" class="Inputbtn" value="Reset" onclick="Reset()">
                </td>
                <td style="padding-right:16px"></td>
                </tr>
        </table>    
            </form>
    @*}*@
</div>
            <div class="formout">
                <h4 class="title">Reading List</h4>
                    <div class="panel">
            <div style="padding-top:4px;display:table-cell;float:left;font-size:14px; vertical-align: bottom; padding-left:5px;">Count:@ViewBag.ReadingCount</div>
            <input type="button" id="search" onclick="search()"  style="margin-right:2px;">
            <input type="text" style="margin-left:5px; display:block; float:right;" id="searchtext">
            <img src="~/Content/themes/base/images/Inborder.png" style="display:block; float:right; margin-left:5px;">   
            <input type="button" class="Refresh" onclick="Refresh()" title="Refresh" style="margin-left:3px">           
            <input type="button" class="export" onclick="" title="Save as Excel"> 
            <img src="~/Content/themes/base/images/Inborder.png" style="display:block; float:right; margin-right:5px;">
        </div>
    <table id="table" class="tinytable">
        <thead>
        <tr>
            <th>Title
            </th>
            <th>From
            </th>
            <th>Date
             </th>
           <th>Option
            </th>
        </tr>
            </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:left;">
                    @item.Title
                </td>
                <td>
                    @item.Date
                </td>
                <td id="AvoidContent">
                    @item.From
                </td>
                <td>
                    <a href='#' class='Edit' id="@item.Id">Edit</a> | <a href="javascript:void(0)" onclick="Delete(@item.Id)">Delete</a>
                    <input type="hidden" value="@item.Id">
                </td>
            </tr>
        }

    </table>


        <div id="tablefooter" style="width:984px;">
          <div id="tablenav">
                <input type="hidden" id="CurrentPage" value="@ViewBag.CurrentPage">
            	<div>                
                    <div class="first" title="First Page" onclick="firstPage();autoRowSpan(table, 0, 0)"></div>
                    <div class="previous" title="previous" onclick="previouPage(@ViewBag.CurrentPage);autoRowSpan(table, 0, 0)"></div>
                    <div class="next" title="Next Page" onclick="nextPage(@ViewBag.CurrentPage);autoRowSpan(table, 0, 0)" ></div>
                    <div class="last" title="Last Page" onclick="lastPage();autoRowSpan(table, 0, 0)"></div>
                </div>               
                <div style="margin-left:10px">
                	<select id="pagedropdown" style="width:50px; background-color:#333334;margin-bottom:2px;" onmouseup="autoRowSpan(table, 0,0)" onchange="skipPage(this)">
                        @foreach (var item in PageList)
                        {
                            <option value="@item">@item</option> 
                        }
                	</select>                      
				</div>               
            </div>
			<div id="tablelocation">
                <div>Page:<span>@ViewBag.CurrentPage</span>&nbspTotal:<span id="totalpages">@PageList.Count()</span></div>
            </div>
        </div>

</div>

    <script type="text/javascript">
        $(document).ready(function () {
            setDropdownlist("CurrentPage", "pagedropdown");

        });

        function search() {
            search = $("#searchtext").val();
            $.post("/Media/ReadingSearch", { search: search }, function (data) {
                if (data.IsSuccess) {
                    window.location = '@(rootPath)Media/ReadingManage'
                }
                else {
                    alert("Search failed");
                    window.location = '@(rootPath)Media/ReadingManage'
                }
            })
        }

        function Delete(Id) {
            $.post("/Media/DeleteReading/", { Id: Id }, function (data) {
                if (data.IsSuccess) {
                    window.location = '@(rootPath)Media/ReadingManage'
                }
                else {
                    alert("Delete failed");
                    window.location = '@(rootPath)Media/ReadingManage'
                }
            }
      )
        }

        function Create()
        {
            $("#form").submit();
        }

        function Reset() {
            document.getElementById("reset").click();
        }

        function Refresh() {
            $.post("/Media/RemoveSession", function () {
                location.reload();
            });
        }

        function skipPage(obj) {
            Index = $(obj).val();
            skip(Index);
        }

        function lastPage() {
            Index = "@PageList.LastOrDefault()";
                    skip(Index);
                }

                function firstPage() {
                    skip(1);
                }

                function nextPage() {
                    Index = "@ViewBag.CurrentPage" == "@PageList.Count()" ? "@ViewBag.CurrentPage" :@ViewBag.CurrentPage +1;
                    skip(Index);
                }

                function previouPage() {
                    Index = "@ViewBag.CurrentPage" == "1" ? "1" :@ViewBag.CurrentPage -1;
                skip(Index);
            }

            function skip(Index) {
                $.post("/Media/PageSkip", { Index: Index, PageSize: 20 }
                    , function (data) {
                        if (data.IsSuccess) {
                            location.reload();
                        }
                        else {
                            alert("Skip failed");
                            location.reload();
                        }
                    })
            }

        //var sorter = new TINY.table.sorter('sorter', 'table', {
        //    paginate: true,
        //    size: 10,
        //    pageddid: 'pagedropdown',
        //    navid: 'tablenav',
        //    currentid: 'currentpage',
        //    totalid: 'totalpages',
        //    init: true
        //});

        $(function () {
            $('.Edit').click(function () {
                var id = this.id;
                src = "@rootPath" + "Media/ReadingEdit/" + id;
                $("#newFrame").attr("src", src);
                $('#Edit').modal();
                return false;
            });
                })
    </script>